.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: radial-gradient(circle farthest-side at 0% 100%, #f6737b, transparent), linear-gradient(135deg, #fff, transparent 49%), radial-gradient(circle farthest-corner at 100% 100%, #719efb, transparent), radial-gradient(circle closest-corner at 50% 100%, #f6737b, transparent);
  font-family: 'Integral CF', sans-serif;
  font-weight: 900;
}

.link-block {
  position: relative;
  z-index: 9999;
  width: 100%;
  height: auto;
  padding: 20px;
  color: #fff;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.heading {
  position: relative;
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 6vw;
  line-height: 6vw;
  font-weight: 900;
  letter-spacing: 18px;
}

.heading.behind {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  color: transparent;
  font-size: 16vw;
  line-height: 7vw;
}

.deer {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin: 5%;
  background-image: url('../images/deer.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.29;
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 14vw;
    line-height: 24vw;
  }

  .heading.behind {
    letter-spacing: 8px;
  }
}

@font-face {
  font-family: 'Integral CF';
  src: url('../fonts/IntegralCF-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}